<div class="container-general">
<div class="container-narrow">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :email, autofocus: true, autocomplete: "email" %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <%= f.input :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <p><%= @minimum_password_length %> characters minimum</p>
    <% end %>

    <%= f.input :password_confirmation, autocomplete: "new-password" %>

    <%= f.input :current_password, autocomplete: "current-password" %>




  <div class="form-group">
      <div class="row">
      <% if current_user.photo.attached? %>
        <div class="col-sm-4">
          <%= f.label "Current Avatar" %>
            <br>
          <%= cl_image_tag current_user.photo.key, class: "avatar" %>
        </div>
      <% else %>
        <div class="col-sm-2 text-center">
          <%= f.label "Current Avatar" %>
          <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1614335184/kisspng-computer-icons-person-avatar-download-person-icon-5b480703d1f604.21741917153144704386_foan5y.png", size: "40x40")%>
        </div>
      <% end %>

        <div class="col-sm-8">
          <%= f.label "Change Avatar" %>
            <br>
          <%= f.file_field :photo, direct_upload: true %>
        </div>
      </div>
    </div>


  <div class="btn btn-normal">
    <%= f.button :submit, "Update profile" %>
  </div>
  </div>
 <% end %>
<br>

<p>Unhappy? <%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back to profile", :back %>
</div>
</div>