<div class="container">
  <h1>Hi <%= @user.first_name %></h1>

  <ul>
    <li>Your email: <%= @user.email %></li>
    <li>Your address: <%= @user.address %></li>
    <li>Your age: <%= @user.age %></li>
    <li>Your gender: <%= @user.gender %></li>
    <li>Your bio: <%= @user.host_bio %></li>
  </ul>

</div>
