<div class="container-narrow">
  <div class="container-profile">
    <%# USER-PROFILE %>
    <h1>Hi <%= @user.first_name %>!</h1>
    <br>
    <div class="user-profile">
      <h2>My Informations:</h2>
      <br>
        <p><strong>Your Email:</strong> <%= @user.email %></p>
        <p><strong>Your Address:</strong> <%= @user.address %></p>
        <p><strong>Your Age:</strong> <%= @user.age %></p>
        <p><strong>Your Gender:</strong> <%= @user.gender %></p>
        <%# <p><strong>Your Bio:</strong> <%= @user.host_bio %></p>
      <br>


    <%# UPDATE-PROFILE %>
      <div>
        <%= link_to "Update Your Profile!", lives_path, class: "btn btn-normal" %>
      </div>
    </div>
  </div>

  <%# MY-BOOKINGS %>
  <div class="container-profile">
    <h2>My Bookings:</h2>
    <br>
    <% @bookings.each do |booking| %>
      <div class="card-product">
        <%= cl_image_tag booking.life.photo.key, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= booking.life.user.first_name %> <%= booking.life.user.last_name %></h2>
          <p><strong>Job:</strong> <%= booking.life.job.capitalize %></p>
          <p><strong>Family:</strong> <%= booking.life.family.capitalize %></p>
          <p><strong>City:</strong> <%= booking.life.city.capitalize %></p>
          <p><strong>Total price: </strong><%= booking.total_price %> €</p>
        </div>
      </div>
    <% end %>
  </div>

  <%# MY-LIVES %>
  <div class="container-profile">
    <h2>My Lives:</h2>
    <br>
    <% @lives.each do |life| %>
      <div class="card-product">
        <%= cl_image_tag life.photo.key, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= life.user.first_name %> <%= life.user.last_name %></h2>
          <p><strong>Job:</strong> <%= life.job.capitalize %></p>
          <p><strong>Family:</strong> <%= life.family.capitalize %></p>
          <p><strong>City:</strong> <%= life.city.capitalize %></p>
          <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
        </div>
        <div>
          <%= link_to "Cancel my offer", life_path(life), class: "btn btn-normal", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
