<div class="container container-users">
  <div>
    <%# USER-PROFILE %>
    <div>
      <h1>Hi <%= @user.first_name %>!</h1>
      <br>
        <p><strong>Your Email:</strong> <%= @user.email %></p>
        <p><strong>Your Address:</strong> <%= @user.address %></p>
        <p><strong>Your Age:</strong> <%= @user.age %></p>
        <p><strong>Your Gender:</strong> <%= @user.gender %></p>
        <p><strong>Your Bio:</strong> <%= @user.host_bio %></p>
      <br>
    </div>

    <%# UPDATE-PROFILE %>
    <div>
      <%= link_to "Update Your Profile!", lives_path, class: "btn-normal" %>
    </div>
  </div>

  <%# MY-BOOKINGS %>
  <div>
    <div class="container-cards">
      <h2>My Bookings</h2>
      <% @bookings.each do |booking| %>
        <div class="card-product">
          <%= cl_image_tag booking.life.photo.key, crop: :fill %>
          <div class="card-product-infos">
            <div class="d-flex justify-content-between w-100">
              <h2><%= booking.life.user.first_name %>'s life</h2>
            </div>
            <div class="d-flex justify-content-between w-100">
              <p><strong>Job:</strongx> <%= booking.life.job.capitalize %></p>
              <p><strong>Family:</strong> <%= booking.life.family.capitalize %></p>
              <p><strong>City:</strong> <%= booking.life.city.capitalize %></p>
            </div>
            <div class="d-flex justify-content-between w-100">
              <p><strong>Bio:</strong> <%= booking.life.description.capitalize %></p>
              <p><strong>Relationship:</strong> <%= booking.life.relationship.capitalize %></p>
              <p><strong>Hobby:</strong> <%= booking.life.hobby.capitalize %></p>
            </div>
            <div class="d-flex justify-content-between w-100">
              <p><strong>Total price: </strong><%= booking.total_price %> €</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%# MY-LIVES %>
  <div>
    <div class="container-cards">
      <h2>My Lives</h2>
      <% @lives.each do |life| %>
        <div class="card-product">
          <%= cl_image_tag life.photo.key, crop: :fill %>
          <div class="card-product-infos">
            <div class="d-flex justify-content-between w-100">
              <p><strong>Job:</strong> <%= life.job.capitalize %></p>
              <p><strong>Family:</strong> <%= life.family.capitalize %></p>
              <p><strong>City:</strong> <%= life.city.capitalize %></p>
            </div>
            <div class="d-flex justify-content-between w-100">
              <p><strong>Bio:</strong> <%= life.description.capitalize %></p>
              <p><strong>Relationship:</strong> <%= life.relationship.capitalize %></p>
              <p><strong>Hobby:</strong> <%= life.hobby.capitalize %></p>
            </div>
            <div class="d-flex justify-content-between w-100">
              <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
