<div class="container-narrow">
  <div class="container-profile">
    <%# USER-PROFILE %>
    <h1>Hi <%= current_user.first_name %> 👋🏼</h1>
    <br>
    <div class="user-profile">
        <p><strong>Email:</strong> <%= @user.email %></p>
        <p><strong>Address:</strong> <%= @user.address %></p>
        <p><strong>Age:</strong> <%= @user.age %></p>
        <p><strong>Gender:</strong> <%= @user.gender %></p>
        <p><strong>Bio:</strong> <%= @user.host_bio %></p>
      <br>


    <%# UPDATE-PROFILE %>
      <div>
        <%= link_to "Edit profile", edit_user_registration_path(current_user), class: "btn btn-normal" %>
      </div>
    </div>
  </div>

  <%# PENDING BOOKINGS %>
  <div class="container-profile">
    <h2>Pending Bookings</h2>
    <br>
    <% if @bookings.where(confirmed: 'pending').empty? %>
      <p>No pending lifes</p>
    <% else %>

      <% @bookings.each do |booking| %>
        <% if booking.confirmed == 'pending' %>
          <div class="card-product">
            <div class="d-flex justify-content-between w-100 align-items-center">
              <div class="d-flex justify-content-start">
                <%= cl_image_tag booking.life.photo.key, crop: :fill %>
                <div class="card-product-infos">
                  <h2><%= booking.life.user.first_name %> <%= booking.life.user.last_name %></h2>
                  <p><strong>Job:</strong> <%= booking.life.job.capitalize %></p>
                  <p><strong>Family:</strong> <%= booking.life.family.capitalize %></p>
                  <p><strong>City:</strong> <%= booking.life.city.capitalize %></p>
                  <p><strong>Total price: </strong><%= booking.total_price %> €</p>
                </div>
              </div>
            <%# TODO not functional %>
            <div>
              <%= link_to "Cancel", booking_path(booking), class: "btn btn-normal mr-3", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>


  <%# CONFIRMED BOOKINGS %>
  <div class="container-profile">
    <h2>Confirmed Bookings</h2>
    <br>
    <% if @bookings.where(confirmed: 'confirmed').empty? %>
      <p>No booked lifes</p>
    <% else %>
      <% @bookings.each do |booking| %>
        <% if booking.confirmed == 'confirmed' %>
          <div class="card-product">
            <%= cl_image_tag booking.life.photo.key, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= booking.life.user.first_name %> <%= booking.life.user.last_name %></h2>
              <p><strong>Job:</strong> <%= booking.life.job.capitalize %></p>
              <p><strong>Family:</strong> <%= booking.life.family.capitalize %></p>
              <p><strong>City:</strong> <%= booking.life.city.capitalize %></p>
              <p><strong>Total price: </strong><%= booking.total_price %> €</p>
            </div>
            <%# TODO not functional %>
            <div>
              <%= link_to "Cancel", booking_path(booking), class: "btn-move btn btn-normal", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%# MY-LIVES %>
  <div class="container-profile">
    <h2>My offered Life</h2>
    <br>
    <% if @lives.empty? %>
      <p>No life. Go and create your first one! The button is in the navbar :)</p>
    <% else %>
      <% @lives.each do |life| %>
        <div class="card-product">
          <div class="d-flex justify-content-between w-100 align-items-center">
            <div class="d-flex justify-content-start">
              <%= cl_image_tag life.photo.key, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= life.user.first_name %> <%= life.user.last_name %></h2>
                <p><strong>Job:</strong> <%= life.job.capitalize %></p>
                <p><strong>Family:</strong> <%= life.family.capitalize %></p>
                <p><strong>City:</strong> <%= life.city.capitalize %></p>
                <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
              </div>
            </div>
            <div>
              <%= link_to "Cancel", life_path(life), class: "btn btn-normal mr-3", method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%# Pending Bookings of my life %>
  <div class="container-profile">
    <h2>Pending bookings of my life</h2>
    <br>
    <% if @lives.empty? %>
      <p>No pending lifes</p>
    <% else %>
      <% @lives.each do |life| %>
        <% life.bookings.each do |booking| %>
          <% if booking.confirmed == 'pending' %>
            <div class="card-product">
              <%= cl_image_tag life.photo.key, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= life.user.first_name %> <%= life.user.last_name %></h2>
                <p><strong>Job:</strong> <%= life.job.capitalize %></p>
                <p><strong>Family:</strong> <%= life.family.capitalize %></p>
                <p><strong>City:</strong> <%= life.city.capitalize %></p>
                <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
              </div>
              <%# accept is functional %>
              <div>
                <%= link_to "Accept", confirm_path(booking), class: "btn btn-normal", method: :patch, data: { confirm: "Are you sure?" } %>
              </div>
              <%# TODO not functional %>
              <div>
                <%= link_to "Reject", reject_path(booking), class: "btn btn-normal", method: :patch, data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%# Booked Bookings of my life %>
  <div class="container-profile">
    <h2>Bookings of my life</h2>
    <br>
    <% if @lives.empty? %>
      <p>No bookings so far</p>
    <% else %>
      <% @lives.each do |life| %>
        <% life.bookings.each do |booking| %>
          <% if booking.confirmed == 'confirmed' %>
            <div class="card-product">
              <%= cl_image_tag life.photo.key, crop: :fill %>
              <div class="card-product-infos">
                <h2><%= life.user.first_name %> <%= life.user.last_name %></h2>
                <p><strong>Job:</strong> <%= life.job.capitalize %></p>
                <p><strong>Family:</strong> <%= life.family.capitalize %></p>
                <p><strong>City:</strong> <%= life.city.capitalize %></p>
                <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
              </div>
              <%# TODO not functional %>
              <div>
                <%= link_to "Cancel", reject_path(booking), class: "btn btn-normal", method: :patch, data: { confirm: "Are you sure?" } %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
