<div class="container-home">
  <div class="banner">
    <div class="container container-banner">
      <h1>What is your Dream LIFE? find out!</h1>
      <%= link_to "Book your first LIVE now!", lives_path, class: "btn btn-normal" %>
      <div class="searchbar">
        <%= form_tag lives_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your new life in your favorite location!"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-header">
    <h1><strong>Inspiration for future LIFE</strong></h1>
    <h4>Lives to book with your upcoming experience</h4>
  </div>
  <div class="card">
    <% @lives.each do |life| %>
      <div class="card-life">
        <%= cl_image_tag life.photo.key, crop: :fill %>
        <div class="card-content">
          <h5 class="card-title">
            <%= life.user.first_name %> <%= life.user.last_name %>
          </h5>
          <p class="card-text">
            <%= life.description.capitalize %>
          </p>
          <%= link_to "Book now", life_path(life), {:class => "btn btn-normal"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
