<div class="container-home">
  <div class="banner">
    <div class="container container-banner">
      <h1>What is your Dream LIFE? find out!</h1>
      <%= link_to "Book your first LIFE now!", lives_path, class: "btn btn-large" %>
      <div class="searchbar">
        <%= form_tag lives_path, method: :get do %>
          <%= label_tag "city" %>
            <%= text_field_tag :query,
              params[:query],
              class: "search-input",
              placeholder: "Search..."
            %>
            <%= button_tag(type: "submit", class: "btn btn-default") do %>
              <i class="fas fa-search"></i>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-header">
    <h1><strong>Our top lives</strong></h1>
    <h4>Get inspired and book your next life</h4>
    <%# <h1><strong>Inspiration for future LIFE</strong></h1> %>
    <%# <h4>Lives to book with your upcoming experience</h4> %>
  </div>
  <div class="card">
    <% @lives.each do |life| %>
      <div class="card-life">
        <%= cl_image_tag life.photo.key, crop: :fill %>
        <div class="card-content">
          <h5 class="card-title">
            <%= life.user.first_name %> <%= life.user.last_name %>
          </h5>
          <p class="card-text">
            <p class="city">
              <strong>City:</strong> <%= life.city.capitalize %>
            </p>
            <p class="info">
              <strong>Info:</strong> <%= life.description.capitalize %>
            </p>
          </p>
          <%= link_to "Book now", life_path(life), {:class => "btn btn-normal"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
