 <div class="container-home">
  <div class="banner">
    <div class="container">
      <h1>What is your Dream LIFE? find out!</h1>
      <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
      <%= link_to "Book your first LIVE now!", lives_path %>

      <div class="searchbar">
        <%= form_tag lives_path, method: :get do %>
          <%= label_tag "City"  %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your new life in your favorite location!"
          %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- <div class="search-middle row g-4">
    <div class="col-sm-3 column-start">
      <label for="input-city" class="form-label">City</label>
      <input type="text" class="form-control" placeholder="Where do you want to go?" id="input-city">
    </div>
    <div class="col-sm column">
      <label for="input-journey-start" class="form-label">Journey Start</label>
      <input type="text" class="form-control" placeholder="When?" d="input-journey-start">
    </div>
    <div class="col-sm column">
      <label for="input-journey-end" class="form-label">Journey End</label>
      <input type="text" class="form-control" placeholder="When?" id="input-journey-end">
    </div>
    <div class="col-sm-4 column">
      <label for="input-specific-wish" class="form-label">Filter</label>
      <input type="text" class="form-control" placeholder="Any specific wishes for your journey?" id="input-specific-wish">
    </div>
  </div> -->


  <div class="card-header">
      <h1>This weeks favorite LIFE's:</h1>
  </div>
  <div class="card">
    <div class="card-life">
      <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1/assets/card1-7f36b9268f18080af1209e01f67963521eed45d9a7fe88a6054b7f1717fa8b14_q07adn.jpg") %>
      <div class="card-content">
        <h5 class="card-title">
          Susi Wong
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
        <a class="btn btn-normal" href="#">Book now</a>
      </div>
    </div>
    <div class="card-life">
      <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1/assets/card2-c80039848eaeda718140bd2a425e1ae30508cf6b464a9289df6b7ef375d0ee97_nnq46w.jpg") %>
      <div class="card-content">
        <h5 class="card-title">
          Harry Solo
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
        <a class="btn btn-normal" href="#">Book now</a>
      </div>
    </div>
    <div class="card-life">
      <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1/assets/card3-294b6d883210026424c88513466c98e61406fe8021ab8ac29922342e94a735b1_pr6doq.jpg") %>
      <div class="card-content">
        <h5 class="card-title">
          Marie Schmidt
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
        <a class="btn btn-normal" href="#">Book now</a>
      </div>
    </div>
    <div class="card-life">
      <%= cl_image_tag("https://res.cloudinary.com/rentmylife/image/upload/v1/assets/card4-ddd348f64aa18a9a286d0ca31e0fad10689195ea6918796ca4b4c5bac0b20aef_obwobs.jpg") %>
      <div class="card-content">
        <h5 class="card-title">
          Lucas Oldenberg
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
        <a class="btn btn-normal" href="#">Book now</a>
      </div>
    </div>
  </div>
</div>
