 <div class="container-home">
  <div class="banner">
    <div class="container">
      <h1>What is your Dream LIFE? find out!</h1>
      <!-- <p>Change your life and learn to code at one of our campuses around the world.</p> -->
      <%= link_to "Book your first LIVE now!", lives_path %>
    </div>
  </div>

  <div class="search-middle row g-4">
    <div class="col-sm-3 column-start">
      <label for="input-city" class="form-label">City</label>
      <input type="text" class="form-control" placeholder="Where do you want to go?" id="input-city">
    </div>
    <div class="col-sm column">
      <label for="input-journey-start" class="form-label">Journey Start</label>
      <input type="text" class="form-control" placeholder="When?" d="input-journey-start">
    </div>
    <div class="col-sm column">
      <label for="input-journey-end" class="form-label">Journey End</label>
      <input type="text" class="form-control" placeholder="When?" id="input-journey-end">
    </div>
    <div class="col-sm-4 column">
      <label for="input-specific-wish" class="form-label">Filter</label>
      <input type="text" class="form-control" placeholder="Any specific wishes for your journey?" id="input-specific-wish">
    </div>
  </div>
  <div class="card-header">
      <h1>This weeks favorite LIFE's:</h1>
  </div>
  <div class="card">
    <div class="card-life">
      <%= image_tag "card1.jpeg", alt: "Le Wagon", width: 200 %>
      <div class="card-content">
        <h5 class="card-title">
          Harry Solo
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
      </div>
    </div>
    <div class="card-life">
      <%= image_tag "card2.jpeg", alt: "Le Wagon", width: 200 %>
      <div class="card-content">
        <h5 class="card-title">
          Harry Solo
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
      </div>
    </div>
    <div class="card-life">
      <%= image_tag "card3.jpeg", alt: "Le Wagon", width: 200 %>
      <div class="card-content">
        <h5 class="card-title">
          Harry Solo
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
      </div>
    </div>
    <div class="card-life">
      <%= image_tag "card4.jpeg", alt: "Le Wagon", width: 200 %>
      <div class="card-content">
        <h5 class="card-title">
          Harry Solo
        </h5>
        <p class="card-text">
          what is the adventure your are looking for? 56 year old sailor can offer ypou some great hours
        </p>
      </div>
    </div>
  </div>
</div>
