<div class="container-general">
  <h3>Search for the LIFE you want to experience!</h3>

  <div class="container-cards">
    <% @lives.each do |life| %>
      <div class="card-product">
        <%= cl_image_tag life.photo.key, crop: :fill %>
        <div class="card-product-infos">
          <div class="d-flex justify-content-between w-100">
            <h2><%= life.user.first_name %> <%= life.user.last_name %></h2>
          </div>
          <div class="d-flex justify-content-between w-100">
            <p><strong>Job:</strong> <%= life.job.capitalize %></p>
            <p><strong>Family:</strong> <%= life.family.capitalize %></p>
            <p><strong>City:</strong> <%= life.city.capitalize %></p>
          </div>
          <div class="d-flex justify-content-between w-100">
            <p><strong>Bio:</strong> <%= life.description.capitalize %></p>
            <p><strong>Relationship:</strong> <%= life.relationship.capitalize %></p>
            <p><strong>Hobby:</strong> <%= life.hobby.capitalize %></p>
          </div>
          <div class="d-flex justify-content-between w-100">
            <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
          </div>
          <br>
          <% if life.user != current_user %>
            <div class="d-flex justify-content-end">
              <%= link_to "Book now", life_path(life), {:class => "btn btn-normal"} %>
            </div>
          <% else %>
            <div class="d-flex justify-content-end">
              <%= link_to "Show my offer", life_path(life), {:class => "btn btn-normal"} %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
