<div class="container-lives">
  <h1>All LIFE´s</h1>
  <p>Search for the LIFE you want to experience!</p>
  <br>

  <% @lives.each do |live| %>
    <div class="card-product">
      <%= cl_image_tag live.img_url, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <div class="d-flex justify-content-between w-100">
          <h2>Lifes owner: <%= live.user.first_name %> <%= live.user.last_name %></h2>
        </div>
        <div class="d-flex justify-content-between w-100">
          <p><strong>Job:</strong> <%= live.job %></p>
          <p><strong>Family:</strong> <%= live.family %></p>
          <p><strong>City:</strong> <%= live.city %></p>
        </div>
        <div class="d-flex justify-content-between w-100">
          <p><strong>Bio:</strong> <%= live.description %></p>
          <p><strong>Relationship:</strong> <%= live.relationship %></p>
          <p><strong>Hobby:</strong> <%= live.hobby %></p>
        </div>
          <p><strong>Price Per Day: </strong><%= live.price_per_day %></p>
      </div>
    </div>
  <% end %>
</div>
