<div class="container container-lives">
  <h1>All LIFE´s</h1>
  <p>Search for the LIFE you want to experience!</p>

  <% @lives.each do |live| %>
    <ul>
      <img src= <%= live.img_url %> alt="">
      <br>
      <li><%= live.description %></li>
      <li>Lifes owner: <%= live.user.first_name %> <%= live.user.last_name %></li>
      <li><%= live.price_per_day %></li>
      <li><%= live.city %></li>
      <li><%= live.job %></li>
      <li><%= live.family %></li>
      <li><%= live.relationship %></li>
      <li><%= live.hobby %></li>
    </ul>
  <% end %>
</div>
