<div class="container-general">
  <h3>Search for the LIFE you want to experience!</h3>

  <div class="container-cards">
    <% @lives.each do |life| %>


      <div class="card-lives-all">
        <%= cl_image_tag life.photo.key, crop: :fill %>
        <div class="card-lives-content">
          <p><%= life.user.first_name %> <%= life.user.last_name %></p>
          <p><%= life.description.capitalize %></p>
          <p><strong>Job:</strong> <%= life.job.capitalize %></p>
          <p><strong>Family:</strong> <%= life.family.capitalize %></p>
          <p><strong>City:</strong> <%= life.city.capitalize %></p>
          <p><strong>Bio:</strong> <%= life.description.capitalize %></p>
          <p><strong>Relationship:</strong> <%= life.relationship.capitalize %></p>
          <p><strong>Hobby:</strong> <%= life.hobby.capitalize %></p>
          <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
        </div>

          <% if life.user != current_user %>
            <div>
              <%= link_to "Book now", life_path(life), {:class => "btn btn-normal"} %>
            </div>
          <% else %>
            <div>
              <%= link_to "Show my offer", life_path(life), {:class => "btn btn-normal"} %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  </div>
</div>
