<div class="container-lives">
  <h1>ALL LIFE´s</h1>
  <h3>Search for the LIFE you want to experience!</h3>

  <div class="container-cards">
    <% @lives.each do |live| %>
      <div class="card-product">
        <%= cl_image_tag live.img_url.key, crop: :fill %>
        <div class="card-product-infos">
          <div class="d-flex justify-content-between w-100">
            <h2><%= live.user.first_name %> <%= live.user.last_name %></h2>
          </div>
          <div class="d-flex justify-content-between w-100">
            <p><strong>Job:</strong> <%= live.job.capitalize %></p>
            <p><strong>Family:</strong> <%= live.family.capitalize %></p>
            <p><strong>City:</strong> <%= live.city.capitalize %></p>
          </div>
          <div class="d-flex justify-content-between w-100">
            <p><strong>Bio:</strong> <%= live.description.capitalize %></p>
            <p><strong>Relationship:</strong> <%= live.relationship.capitalize %></p>
            <p><strong>Hobby:</strong> <%= live.hobby.capitalize %></p>
          </div>
          <div class="d-flex justify-content-between w-100">
            <p><strong>Price Per Day: </strong><%= live.price_per_day %>€</p>
            <a class="btn btn-normal" href="#">Book now</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
