<h1>All Lifes</h1>
<p>Search for a life you want to rent</p>

<% @lives.each do |live| %>
  <ul>
    <img src=<%= live.img_url %> alt="">
    <li><%= live.description %></li>
    <li>Lifes owner: <%= live.user.first_name %> <%= live.user.last_name %></li>
    <li><%= live.price_per_day %></li>
    <li><%= live.city %></li>
    <li><%= live.job %></li>
    <li><%= live.family %></li>
    <li><%= live.relationship %></li>
    <li><%= live.hobby %></li>
  </ul>
<% end %>
