<div class="container-general">
  <h3>Search for the LIFE you want to experience!</h3>

  <div class="container-cards">
    <% @lives.each do |life| %>
     <div class="card-lives-all">
        <%= cl_image_tag life.photo.key, crop: :fill %>
        <div class="card-lives-content">
          <p class="text-center"><strong><%= life.user.first_name %> <%= life.user.last_name %></strong></p>
          <p><strong>City:</strong> <%= life.city.capitalize %></p>
          <p><strong>Info:</strong> <%= life.description.capitalize %></p>
          <p><strong>Price Per Day: </strong><%= life.price_per_day %>€</p>
        </div>
        <div class="card-lives-button">
          <% if life.user != current_user %>
            <div>
              <%= link_to "View details", life_path(life), class: "btn btn-normal" %>
            </div>
          <% else %>
            <div>
              <%= link_to "Show My Offer", life_path(life), class: "btn btn-normal" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
