<h1>Create a life</h1>

<%= simple_form_for @life, url: lives_path, method: :post do |f| %>
  <%= f.input :description, required: true %>
  <%= f.input :img_url, required: true %>
  <%= f.input :price_per_day, required: true %>
  <%= f.input :city, required: true %>
  <%= f.input :job, required: true %>
  <%= f.input :family, required: true %>
  <%= f.input :relationship, required: true %>
  <%= f.input :hobby, required: true %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
