<div class="container container-create-life">
  <h1>Create Your Life</h1>

  <%= simple_form_for @life, url: lives_path, method: :post do |f| %>

<<<<<<< HEAD
  <%= f.input :description %>
  <%= f.label "Profile Photo" %> <br>
  <%= f.file_field :photo, direct_upload: true %><br><br>
  <%= f.input :price_per_day %>
  <%= f.input :city %>
  <%= f.input :job %>
  <%= f.input :family %>
  <%= f.input :relationship %>
  <%= f.input :hobby %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
=======
    <%= f.input :description, placeholder: "please describe your life!" %>
    <%= f.label "Profile Photo" %>
    <br>
    <%= f.file_field :img_url, direct_upload: true %><br><br>
    <%= f.input :price_per_day %>
    <%= f.input :city %>
    <%= f.input :job %>
    <%= f.input :family %>
    <%= f.input :relationship %>
    <%= f.input :hobby %>
    <br>
    <%= f.submit class: "btn btn-normal" %>
  <% end %>
</div>
>>>>>>> master
