<div class="container">

  <h1>The life of <%= @life.user.first_name %></h1>

  <ul>
    <%= cl_image_tag @life.photo.key, width: 250, height: 300, crop: :fill %>
    <li><%= @life.description %></li>
    <li>Price per day: <%= @life.price_per_day %></li>
    <li>City: <%= @life.city %></li>
    <li>Job: <%= @life.job %></li>
    <li>Family: <%= @life.family %></li>
    <li>Relationship: <%= @life.relationship %></li>
    <li>Hobby: <%= @life.hobby %></li>
  </ul>

  <br>
  <div>
    <h2>Book this life</h2>
    <%= simple_form_for [@life, @booking], url: life_bookings_path(@life), method: :post do |f| %>
      <%# <%= f.input :description, placeholder: "Book this life" %>
      <%# TODO calculate price by day difference after demo day %>
      <%# <%= f.input :start_date %>
      <%# <%= f.input :end_date %>
      <br>
      <%= f.submit class: "btn btn-normal" %>
    <% end %>
  </div>
</div>

