<h1>The life of <%= @life.user.first_name %></h1>

<ul>
  <img src=<%= @life.img_url %> alt="">
  <li><%= @life.description %></li>
  <li>Price per day: <%= @life.price_per_day %></li>
  <li>City: <%= @life.city %></li>
  <li>Job: <%= @life.job %></li>
  <li>Family: <%= @life.family %></li>
  <li>Relationship: <%= @life.relationship %></li>
  <li>Hobby: <%= @life.hobby %></li>
</ul>
