<div class="container">

  <h1>The life of <%= @life.user.first_name %></h1>

  <ul>
    <%= cl_image_tag @life.photo.key, width: 250, height: 300, crop: :fill %>
    <li><%= @life.description %></li>
    <li>Price per day: <%= @life.price_per_day %></li>
    <li>City: <%= @life.city %></li>
    <li>Job: <%= @life.job %></li>
    <li>Family: <%= @life.family %></li>
    <li>Relationship: <%= @life.relationship %></li>
    <li>Hobby: <%= @life.hobby %></li>
  </ul>

  # TODO create simple form with start and end date
  <%= simple_form_for @life, url: lives_path, method: :post do |f| %>
    <%= f.input :description, placeholder: "Book this life" %>
    <%= f.label "Profile Photo" %>
    <br>
    <%= f.file_field :img_url, direct_upload: true %><br><br>
    <%= f.input :price_per_day %>
    <%= f.input :city %>
    <%= f.input :job %>
    <%= f.input :family %>
    <%= f.input :relationship %>
    <%= f.input :hobby %>
    <br>
    <%= f.submit class: "btn btn-normal" %>
  <% end %>

</div>

